$TTL    604800
@       IN      SOA     ns1.mysite.com. root.mysite.com. (
        2019021901      ; Serial
            604800      ; Refresh
            86400       ; Retry
            2419200     ; Expire
            604800 )    ; Negative Cache TTL
;
; name server - NS records
     IN      NS      ns1.mysite.com.
; name server - A records
ns1.mysite.com.     IN      A       192.168.100.11
ansible-mgn.mysite.com. IN      A       192.168.100.11
server-01.mysite.com.   IN      A       192.168.100.80
server-02.mysite.com.   IN      A       192.168.100.81
server-03.mysite.com.   IN      A       192.168.100.82
server-04.mysite.com.   IN      A       192.168.100.70
www                         IN     CNAME    server-01
web-01                      IN     CNAME    server-02
web-02                      IN     CNAME    server-03
