zone "projectsa.com" {
    type master;
    file "/etc/named/zones/db.projectsa.com";
};
zone "mysite.com" {
    type master;
    file "/etc/named/zones/db.mysite.com";
};
zone "192.168.100.in-addr.arpa" {
    type master;
    file "/etc/named/zones/db.192.168.100";
};